<html>
  <head>
    <title>Live Facial Expression Recognition  </title>
  </head>
  <body>
    <img id="bg" width=800px height=640px src="{{url_for('video_feed') }}">
  </body>
  
<h1>Nhận dạng - CS338.M21</h1>
  <ul>
  	<li>
  	<p>Nguyễn&nbsp;Tấn&nbsp;T&uacute;​ - 19522454​</p>
  	</li>
  	<li>
  	<p>Nguyễn Thị Như &Yacute;​ - 19522555</p>
  	</li>
  	<li>
  	<p>Đinh&nbsp;Ho&agrave;ng&nbsp;Linh Đan -​ 19521309</p>
  	</li>
  	<li>
  	<p>Trần&nbsp;Nguyễn&nbsp;Quỳnh&nbsp;Anh​ - 19521217</p>
  	</li>
  </ul>
</html>
